@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body, html{
    height: 100%;
    width: 100%;
    background-color: #F0F0F0;
    overflow: hidden;
}

.container{
    width: 100%;
    background-color: white;
    max-width: 40rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin: 40px auto;
    padding:  30px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.219);
    border-radius: 10px;
}

#searchInput{
    width: 100%;
    padding: 12px 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.308);
}

.userContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.userContainer .userItem{
    display: flex;
    background-color: #faf8f8;
    gap: 10px;
    height: 4.5rem;
    align-items: center;
    padding: 15px 15px;
    width: 100%;
}

.userContainer .userItem .image{
    height: 100%;
    border-radius: 100%;
    overflow: hidden;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: top;

}

.userContainer .userItem .image img{
    height: 100%;
    width: 100%;
}

.userContainer .userItem .userDetails h3{
    font-size: 14px;
}

.userContainer .userItem .userDetails{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.userContainer .userItem .userDetails p{
    font-size: 12px;
}